@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero section Styling */
.herosection-heading-text {
  font-size: 4rem;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-image: url("/bg.jpg");
  background-size: 120%;
  animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

.herosection-solution-text {
  color: rgba(31, 116, 186, 0.7);
  font-family: Anton;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Experience Section Styling */
.exp-heading {
  font-family: sans-serif;
  color: #002d46;
  font-size: large;
}
.exp-card {
  margin: 0px 0px 20px;
  padding: 0px 15px;
}
@keyframes bg-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
