@tailwind base;
@tailwind components;
@tailwind utilities;

.herosection-heading-text {
  font-size: 120px;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-image: url("/bg.jpg");
  background-size: 120%;
  animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
